.countdown-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #1a1a1a;
    color: white;
}

[data-countdown-date] {
    display: flex;
    flex-wrap: wrap;
    gap: 0.075em;
    font-size: 2rem;
    justify-content: center;
}

[data-countdown-update] {
    background-color: #2A2727;
    border-radius: 3em;
    padding: 0.25em 0.75em;
    line-height: 1;
    border: 0.075em solid transparent;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3em;
}

[data-countdown-update]:nth-child(odd) {
    border-radius: 0.125em;
}

[data-countdown-update="hours"] {
    background-color: transparent;
    border: 0.075em solid #2A2727;
}

[data-countdown-update]:nth-last-child(1) {
    background-color: #F84131;
}

@media screen and (max-width: 767px) {
    [data-countdown-date] {
        font-size: 1.5rem;
    }
}